@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
.content-main{
  display: flex;
}

.Nav{
  width: 10vh;
  height: 101vh;
  background-color: #3e603b;
  position: sticky;  
}

.imagen-nav{
  background-image: url(/src/components/img/menu.jpg);
  margin: 0 0 0 10px;
  height: 50px;
  width: 40px;
  background-repeat: no-repeat;
  background-size:cover;
}

.nav-text{
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 10px;
  font-size: 20px;
  justify-content: center;
}


.nav-text p{
  padding: 100px 0 0 0 ;
  cursor:pointer;
  font-weight: 600;
}

.principal{
  width: 100%;
  display: flex;
}

.title{  
  font-family: 'Nunito Sans', sans-serif;
  width: 50%;
  background-color: #F2EBD5; 
}

.title p{
  text-align: center;
  padding: 30vh;
  font-size: 100px;
  font-weight: 800;
}

.content{
  width: 50%;
  height: 100%;
  background-image: url(/src/components/img/2.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

/* Principal info  */

.info-principal{
  height: 2000px;
  width: 100%;
  display: flex;
  background-color: #edf0f1;
}

.info-img1{
  background-image: url(/src/components/img/9.jpg);
  background-size:cover;
  height: 600px;
  width: 1000px;
  padding: 100px;
  margin: 50px 100px 100px 200px;
  }

.info-text p{
  display: block;
  font-family:  'Nunito Sans', sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
  .info-img2{
    background-image: url(/src/components/img/10.jpg);
    background-size:cover;
    height: 700px;
    width: 100%;
}

.info-text{
  text-align: justify;
  margin: 10vh;
  font-size: 20px;
}

.info-text h3{
  text-align: center;
  font-family:  'Nunito Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.info-buttom{
  margin: 50px;
  width: 50%;
  
}


/* Formulario */

.formulario-padre{
  background-color: #edf0f1;
  text-align: center;
}

.text-form{
  margin: 0vh 10vh;
}

.text-form input{
  display: block;
  margin: 10px auto ;
  width: 40%;
  border: none;
  border-bottom: 2px solid #D1D1D1
}

.text-form button{
  width: 20%;
  margin-bottom: 10px;
}

.text-form h4{
  
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

.text-form h5{
  font-size: 20px;
  margin-bottom: 30px;
}

.text-form p{
  font-size: 15px;
  padding: 10px;
  margin: 0;
  
}

/* Fooder */

.footer{
  height: 70px;
  background-color: #26282c;
  display: flex;
  color: #e1e3e4;
  justify-content: center;
  
}

.foter{
  margin: 30px 40px;  
}



/* Responsive */
@media (max-width: 1000px){
  .content-main{
    display: block;
  }

  .Nav{
    width: 100%;
    height: 80px;
    background-color: #3e603b;
  }

  .nav-text{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
    font-size: 20px;
    justify-content: center;
  }
  
  
  .nav-text p{
    font: 0/0 a;
  text-shadow: transparent;
  color: transparent;
  text-decoration: none;
  }
  
  .principal{
    width: 100%;
    display: inline;
  }
  
  .title{  
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    background-color: #F2EBD5; 
    
  }
  
  .title p{
    text-align: center;
    padding: 13vh;
    font-size: 40px;
    font-weight: 800;
  }
  
  .content{
    width: 100%;
    height: 300px;
    background-image: url(/src/components/img/2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }

  .info-principal{
    height:  800px;
    width: 100%;
    display: inline;
    justify-content: center;  
    background-color: #edf0f1;
  }
  
  .info-img1{
    background-image: url(/src/components/img/9.jpg);
    background-size:cover;
    height: 300px;
    width: 100%;
    border-radius: 0%;
    padding: 0px;
    margin: 20px 0px;
    }

    .info-img2{
      background-image: url(/src/components/img/10-part1.jpg);
      background-size:cover;
      height: 1000px;
      width: 100%;
  }
  
  .info-text-img1 {
    flex-direction: row;}
  
  .info-text{
    text-align: justify;
    margin: 5vh;
    font-size: 15px;
  }
  
  .info-text h3{
    text-align: center;
    font-family:  'Nunito Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
  }
  
  .info-text h4{
    font-size: 15px;
  }

  .info-text p{
    margin: 20px 0px;
  }

  .info-buttom{
    margin-top: 50px;
    width: 70%;
    display: block;
  }

  .formulario-padre{
    background-color: #edf0f1;
  }
  
  .cont-forms{
    width: 80%;
    margin: 0vh 5vh 0vh 5vh;
    grid-column: 1;
    grid-row: 2;
  
  }
  
  .text-form h4{
    margin: 40px 0px;
  }
  .cont-forms button{
    margin-bottom: 50px;
  }
  
  .text-form{
    margin: 0vh 10vh;
  }
 
  .text-form input{
    width: 90%;
  }
  
  .text-form button{
    width: 50%;
    margin-bottom: 10px;
  }
  


  .text-form h4{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  
  .text-form h5{
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .text-form p{
    font-size: 15px;
    padding: 20px;
  }

  .footer{
    height: 120px;
    flex-wrap: wrap;
  }

  .foter{
    margin: 10PX;
  }








}
  